<!DOCTYPE html>
<html lang="en">
<head>
  <title>Iain's BAM Button</title>
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <meta charset="utf-8">
  <link rel="stylesheet" href="/style.css">
  <script src="/client.js" defer></script>
</head>
<body>
  <div class="centralise">
    <h1>BAM BUTTON 😊</h1>
    <div class="bam-button">
     <img class="bam-button__img" src="http://he.nmpi.net/foto/iain_in_office.jpg"/>  
    </div>
    <p>Does what it says on the tin, for Iain ❤️</p>
  </div>
  
</body>
</html>
